<form method="POST" action="/checkout">
<h1>Cart</h1>
<p>Enter item you'd like to purchase: <input type="text" id="item" name="item"/> 
<button id="submit" type="submit">Submit</button>
</p>

</form>
